*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(img/background.png) ;
    background-size: cover;
}
nav {
  
    display: grid;
    float: right;
}
nav ol{
    display: flex;
    list-style: none;
    position: relative;
    top: 50px;
}
nav ol li{
    padding: 10px;
}
section{
    display: inline;
}

nav ol li a{
    text-decoration: none;
    /* background-color: rgb(121, 209, 231); */
    border: 2px solid rgb(121, 209, 231);
    border-radius: 10px;
}
:hover